#banner{
    background:url(image/banner.png);
    height: 600px;
    width: 100%;
    background-size: cover;
}

.banner-block{
   color: white;
   text-align: center;
   font-size: 30px;
   font-weight: bold; 
}

.banner-block h1{
    text-transform: uppercase;
}

.subtitle{
    font-size: 22px;
    font-weight: 300;
}

.learn-more{
    text-transform: uppercase;
    text-decoration: none;
    color: seashell;
    
}